<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
    <script type="text/javascript" src="/js/main.js"></script>
    <title>Gizix</title>
  </head>

  <body>
    <h1>Gizix</h1>

    <video id="my-video" muted autoplay></video>
    <video id="their-video" autoplay></video>
  </body>
</html>
