<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
    <title>Gizix</title>

    <link href="/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/flat-ui.css" rel="stylesheet">
    <link href="/css/gizix.css" rel="stylesheet">
  </head>

  <body>
    <div>
      <input type="hidden" id="myid" name="uid" value="{{ .CurrentUser.ID }}">
      <input type="hidden" id="myname" name="uname" value="{{ .CurrentUser.Name }}">
      <input type="hidden" id="mydomain" name="domain" value="{{ .Domain.Name }}">
      <input type="hidden" id="myroom" name="roomid" value="{{ .Room.ID }}">
      <input type="hidden" id="watsonToken" name="watsonToken" value="{{ .WatsonToken }}">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <nav class="navbar navbar-inverse navbar-embossed" role="navigation">
            <div class="navbar-header">
              <a class="navbar-brand" href="/dashboard">Gizix</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-01">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="/setting">{{ .CurrentUser.Name }}</a></li>
                <li><a href="/logout">Logout</a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </nav><!-- /navbar -->
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6" id="room_title">
          <h1 class="demo-section-title">{{ .Room.Name }}</h1>
        </div>
        {{ if eq .JoinedFlg true }}
          <div class="col-xs-3" id="start_video_call">
            <div class="form-group call-form">
              <label class="call-field-icon fui-video"></label>
              <button class="btn btn-block btn-lg btn-info" type="button" onclick="initialize();">Video Call</button>
            </div>
          </div>
          <div class="col-xs-3" id="start_voice_call">
            <div class="form-group call-form">
              <label class="call-field-icon fui-mic"></label>
              <button class="btn btn-block btn-lg btn-info" type="button" onclick="initialize();">Voice Call</button>
            </div>
          </div>
        {{ else }}
          <form method="POST" action="/join">
            <div class="col-xs-6">
              <div class="form-group call-form">
                <input type="hidden" name="roomID" value="{{ .Room.ID }}">
                <input type="submit" class="btn btn-block btn-lg btn-primary" value="Join This Room">
              </div>
            </div>
            <div class="col-xs-12">
              <small>{{ .JoinRoomMessage }}</small>
            </div>
          </form>
        {{ end }}
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div id="videos">
            <div class="col-xs-3">
              <audio id="my-call" muted autoplay></audio>
              <img src='/img/icons/png/avator.png' style='width: 220px; height: 220px; border: 1px solid black;'></img>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-xs-12">
          <h4>Conversation</h4>
          <div id="conversation"></div>
        </div>
      </div>
    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/flat-ui.min.js"></script>
    <script src="/js/widgets.js"></script>
    <script src="/js/gizix.js"></script>
    <script src="/js/simplepeer.min.js"></script>
    <script src="/js/watson-speech.js"></script>
    <script src="/js/fetch.js"></script>
    <script src="/js/room.js"></script>
    <script>
      // if URL is `room/:id?auto=true`, start call automatically
      var auto_param = location.search.match(/auto=(.*?)(&|$)/)
      if (auto_param != null &&  auto_param[1] == 'true') {
        setTimeout("initialize()", 1000);
      }
    </script>
  </dody>
</html>
