<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
    <title>Gizix</title>

    <link href="/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/flat-ui.css" rel="stylesheet">
    <link href="/css/gizix.css" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <nav class="navbar navbar-inverse navbar-embossed" role="navigation">
            <div class="navbar-header">
              <a class="navbar-brand" href="/dashboard">Gizix</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-01">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="/setting">{{ .CurrentUser.Name }}</a></li>
                <li><a href="/logout">Logout</a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </nav><!-- /navbar -->
        </div>
      </div>

      <h1 class="demo-section-title">Setting</h1>

      <div class="row">
        <div class="col-xs-5">
          <h5 class="setting-description">Change Password</h5>
          <p> Please choose a password which is longer than 6 characters.</p>
        </div>
        <div class="col-xs-7">
          <div class="setting-form">
            <form method="POST" action="/password" >
              <div class="col-xs-9">
                <div class="form-group">
                  <input type="password" name="old_password" placeholder="Enter current password" class="form-control">
                </div>
                <div class="form-group">
                  <input type="password" name="new_password" placeholder="Enter new password" class="form-control">
                </div>
                <div class="form-group">
                  <input type="password" name="confirm_password" placeholder="Confirm new password" class="form-control">
                </div>
              </div>
              <div class="col-xs-3">
                <div class="form-group form-password-submit">
                  <input type="submit" class="btn btn-primary btn-block" value="Save">
                </div>
              </div>
              <div class="col-xs-12">
                <small>{{ .UpdatePasswordMessage }}</small>
              </div>
            </form>
          </div>
        </div>
      </div>
      {{ if eq .CurrentUser.Admin true }}
        <hr>
        <div class="row">
          <div class="col-xs-5">
            <h5 class="setting-description">Create Account</h5>
            <p><strong>*Administrator Only*</strong><br>
              Create a new user account. User name must be unique. Default password is <code>password</code>, please change after the first login.</p>
          </div>
          <div class="col-xs-7">
            <div class="setting-form">
              <form method="POST" action="/user">
                <div class="col-xs-9">
                  <div class="form-group">
                    <input type="text" name="name" placeholder="Enter new accnout name" class="form-control">
                  </div>
                </div>
                <div class="col-xs-3">
                  <div class="form-group">
                    <input type="submit" class="btn btn-primary btn-block" value="Create">
                  </div>
                </div>
                <div class="col-xs-12">
                  <small>{{ .CreateUserMessage }}</small>
                </div>
              </form>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-5">
            <h5 class="setting-description">Manage Account</h5>
            <p><strong>*Administrator Only*</strong><br>
              Check "✓" to grant the Administrator authority.</p>
          </div>
          <div class="col-xs-7">
            <div class="setting-form">
              <form method="POST" action="/admins">
                {{ range $index, $user := .AllUser }}
                <div class="col-xs-9">
                  <div class="form-group">
                    {{ $user.Name }}
                  </div>
                </div>
                <div class="col-xs-3">
                  <div class="bootstrap-switch-square">
                    {{ if eq $user.Name "Gizix" }}
                      <input type="checkbox" checked disabled name="Gizix" data-toggle="switch" id="custom-switch-{{ $index }}" value="true"/>
                    {{ else if eq $user.Admin true }}
                      <input type="checkbox" checked name="{{ $user.Name }}" data-toggle="switch" id="custom-switch-{{ $index }}" value="true"/>
                    {{ else }}
                      <input type="checkbox" name="{{ $user.Name }}" data-toggle="switch" id="custom-switch-{{ $index }}" value="true"/>
                    {{ end }}
                  </div>
                </div>
                {{ end }}
                <div class="col-xs-3">
                  <div class="form-group form-manage-account-update">
                    <input type="submit" class="btn btn-primary btn-block" value="Update">
                  </div>
                </div>
                <div class="col-xs-12">
                  <small>{{ .UpdateAdminsMessage }}</small>
                </div>
              </form>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-5">
            <h5 class="setting-description">Domain Setting</h5>
            <p><strong>*Administrator Only*</strong><br>
              Set domain name (or IP address) which Gizix is running.<br>
              (e.g.) <code>foo.gizix.net</code>, <code>123.111.111.111</code></p>
          </div>
          <div class="col-xs-7">
            <div class="setting-form">
              <form method="POST" action="/domain">
                <div class="col-xs-9">
                  <div class="form-group">
                    <input type="text" name="name" placeholder="Enter domain name" class="form-control" value="{{ .Domain.Name }}">
                  </div>
                </div>
                <div class="col-xs-3">
                  <div class="form-group">
                    <input type="submit" class="btn btn-primary btn-block" value="Update">
                  </div>
                </div>
                <div class="col-xs-12">
                  <small>{{ .UpdateDomainMessage }}</small>
                </div>
              </form>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-5">
            <h5 class="setting-description">Speech Language Setting</h5>
            <p><strong>*Administrator Only*</strong><br>
              Set the Language to speak for dictation.</code>.</p>
          </div>
          <div class="col-xs-7">
            <div class="setting-form">
              <form method="POST" action="/language">
                <div class="col-xs-9">
                  <div class="form-group">
                    <select data-toggle="select" name="language" id="inverse-dropdown-searchfield" class="form-control select select-inverse mrs mbm">
                      {{ if eq .Language "ar-AR_BroadbandModel" }}
                        <option value="ar-AR_BroadbandModel" selected>Modern Standard Arabic (Broadband)</option>
                      {{ else }}
                        <option value="ar-AR_BroadbandModel">Modern Standard Arabic (Broadband)</option>
                      {{ end }}
                      {{ if eq .Language "en-UK_BroadbandModel" }}
                        <option value="en-UK_BroadbandModel" selected>UK English (Broadband)</option>
                      {{ else }}
                        <option value="en-UK_BroadbandModel">UK English (Broadband)</option>
                      {{ end }}
                      {{ if eq .Language "en-UK_NarrowbandModel" }}
                        <option value="en-UK_NarrowbandModel" selected>UK English (Narrowband)</option>
                      {{ else }}
                        <option value="en-UK_NarrowbandModel">UK English (Narrowband)</option>
                      {{ end }}
                      {{ if eq .Language "en-US_BroadbandModel" }}
                        <option value="en-US_BroadbandModel" selected>US English (Broadband)</option>
                      {{ else }}
                        <option value="en-US_BroadbandModel">US English (Broadband)</option>
                      {{ end }}
                      {{ if eq .Language "en-US_NarrowbandModel" }}
                        <option value="en-US_NarrowbandModel" selected>US English (Narrowband)</option>
                      {{ else }}
                        <option value="en-US_NarrowbandModel">US English (Narrowband)</option>
                      {{ end }}
                      {{ if eq .Language "es-ES_BroadbandModel" }}
                        <option value="es-ES_BroadbandModel" selected>Spanish (Broadband)</option>
                      {{ else }}
                        <option value="es-ES_BroadbandModel">Spanish (Broadband)</option>
                      {{ end }}
                      {{ if eq .Language "es-ES_NarrowbandModel" }}
                        <option value="es-ES_NarrowbandModel" selected>Spanish (Narrowband)</option>
                      {{ else }}
                        <option value="es-ES_NarrowbandModel">Spanish (Narrowband)</option>
                      {{ end }}
                      {{ if eq .Language "ja-JP_BroadbandModel" }}
                        <option value="ja-JP_BroadbandModel" selected>Japanese (Broadband)</option>
                      {{ else }}
                        <option value="ja-JP_BroadbandModel">Japanese (Broadband)</option>
                      {{ end }}
                      {{ if eq .Language "ja-JP_NarrowbandModel" }}
                        <option value="ja-JP_NarrowbandModel" selected>Japanese (Narrowband)</option>
                      {{ else }}
                        <option value="ja-JP_NarrowbandModel">Japanese (Narrowband)</option>
                      {{ end }}
                      {{ if eq .Language "pt-BR_BroadbandModel" }}
                        <option value="pt-BR_BroadbandModel" selected>Brazilian Portuguese (Broadband)</option>
                      {{ else }}
                        <option value="pt-BR_BroadbandModel">Brazilian Portuguese (Broadband)</option>
                      {{ end }}
                      {{ if eq .Language "pt-BR_NarrowbandModel" }}
                        <option value="pt-BR_NarrowbandModel" selected>Brazilian Portuguese (Narrowband)</option>
                      {{ else }}
                        <option value="pt-BR_NarrowbandModel">Brazilian Portuguese (Narrowband)</option>
                      {{ end }}
                      {{ if eq .Language "zh-CN_BroadbandModel" }}
                        <option value="zh-CN_BroadbandModel" selected>Mandarin Chinese (Broadband)</option>
                      {{ else }}
                        <option value="zh-CN_BroadbandModel">Mandarin Chinese (Broadband)</option>
                      {{ end }}
                      {{ if eq .Language "zh-CN_NarrowbandModel" }}
                        <option value="zh-CN_NarrowbandModel" selected>Mandarin Chinese (Narrowband)</option>
                      {{ else }}
                        <option value="zh-CN_NarrowbandModel">Mandarin Chinese (Narrowband)</option>
                      {{ end }}
                    </select>
                  </div>
                </div>
                <div class="col-xs-3">
                  <div class="form-group">
                    <input type="submit" class="btn btn-primary btn-block" value="Update">
                  </div>
                </div>
                <div class="col-xs-12">
                  <small>{{ .UpdateLanguageMessage }}</small>
                </div>
              </form>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-5">
            <h5 class="setting-description">IBM Watson Speech to Text Setting</h5>
            <p><strong>*Administrator Only*</strong><br>
              Set the username and password for IBM Watson Speech to Text</code>.</p>
          </div>
          <div class="col-xs-7">
            <div class="setting-form">
              <form method="POST" action="/ibm_account">
                <div class="col-xs-9">
                  <div class="form-group">
                    <input type="text" name="username" placeholder="Enter username" class="form-control" value="{{ .IBMAccount.UserName }}">
                  </div>
                </div>
                <div class="col-xs-9">
                  <div class="form-group">
                    <input type="text" name="password" placeholder="Enter password" class="form-control" value="{{ .IBMAccount.Password }}">
                  </div>
                </div>
                <div class="col-xs-3">
                  <div class="form-group">
                    <input type="submit" class="btn btn-primary btn-block" value="Update">
                  </div>
                </div>
                <div class="col-xs-12">
                  <small>{{ .UpdateIBMAccountMessage }}</small>
                </div>
              </form>
            </div>
          </div>
        </div>
      {{ end }}
    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/flat-ui.min.js"></script>
    <script src="/js/widgets.js"></script>
    <script src="/js/gizix.js"></script>
    <script>
      $(document).ready(function(){
        $('select[id="inverse-dropdown-searchfield"]').select2({dropdownCssClass: 'select-inverse-dropdown show-select-search'});
      });
    </script>
  </dody>
</html>
